[Unit]
Description=WS API service
Wants=network-online.target
After=network.target network-online.target

[Service]
PIDFile=/run/rosa-wsapi.pid
Environment="PATH=$PATH"
User=pi
#ExecStartPre=/home/pi/rosa-master/rpi/prepare_env.sh
ExecStart=/home/pi/rosa-master/rpi/start.sh
#EnvironmentFile=/home/pi/dbus_session
Type=simple

[Install]
WantedBy=multi-user.target
