<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCIA - {% block title %}Robot{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interface.css') }}">
    <!-- Chargez Blockly et le générateur Python -->
    <script src="{{ url_for('static', filename='lib_interface/blockly/blockly.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib_interface/blockly/python_compressed.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib_interface/blockly/msg/fr.js' ) }}"></script>
    <!--script src="{{ url_for('static', filename='lib_interface/blockly/msg/en.js' ) }}"></!--script>
    <!-- Chargez les définitions des blocs personnalisés et les générateurs -->
    <script src="{{ url_for('static', filename='lib_interface/blocks.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib_interface/python_generators.js' ) }}"></script>

</head>

<body>
    {% include 'header.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block js %}{% endblock %}
    {% include 'footer.html' %}
</body>

</html>