<footer>
    <div>
        <img src="{{ url_for('static', filename='images/logo/poppy_station.png') }}" alt="Logo de Poppy Station">
        <img src="{{ url_for('static', filename='images/logo/ligue.jpg') }}" alt="Logo de la Ligue de l'enseignement">
        <img src="{{ url_for('static', filename='images/logo/inria.jpg') }}" alt="Logo de l'INRIA">
        <img src="{{ url_for('static', filename='images/logo/nouvelle-aquitaine.png') }}"
            alt="Logo de la région Nouvelle-Aquitaine">
    </div>
</footer>