:root {
    --head : #E2E8F0;
    --txt : #00000;
    --txt-mode : #e6e6e6;
    --main-blue : #0D88EC;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: none;
}

.txt {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: 500;
    margin-bottom: 5%;
}

.txt-title {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: xx-large;
}

.txt-subtitle {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.txt-btn {
    color: var(--txt-mode);
    font-family: "Inter", sans-serif;
    font-size:large;
    font-weight:500;
}

.button-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 15vh;
    padding: 12px 24px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: var(--main-blue);
    border-radius: 15px;
    border: none;
    gap: 10px;
}

.button-mode select {
    cursor: pointer;
}

.button-go {
    width: 35%;
    cursor: pointer;
}

.header_controle {
    background: var(--head);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode_display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 12vh);
}

.modes {
    width: 35%;
    height: 100%;
}

.title_mode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10dvh;
    width: 100%;
}

.mode_selected {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5dvh ;
}

.mode_selection {
    display: flex;
    height: calc(100vh - 27vh);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.sep {
    height: 100%;
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 65%;
    width: 20%;
    border-radius: 5px;
    background-color: black;
    margin-top: 10vh;
}

.manuel {
    width: 63%;
    height: 100%;
}

.manuel-controle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 22vh);
}

.bot-zone {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
}

.video-container {
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0D88EC;
}

.bot-shema {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-shema img {
    aspect-ratio: 1/1;
    width: 70%;
}

.move-btn {
    width: 50%;
    height: 100%;
}

.speed {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speed-box {
    display: flex;
    flex-direction: column;
}

.speed-range {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5%;
    gap: 15px;
}

.direction {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.direction-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    aspect-ratio: 1/1;

}

.arrow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    aspect-ratio: 1/1;
}

.btn-av { 
    grid-area: 1 / 2 / 2 / 3;
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 

}

.btn-g { 
    grid-area: 2 / 1 / 3 / 2; 
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.btn-ar { 
    grid-area: 3 / 2 / 4 / 3; 
    aspect-ratio: 1/1;
    cursor: pointer;   
    border: none;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.btn-d { 
    grid-area: 2 / 3 / 3 / 4; 
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.btn-stop {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: var(--main-blue);
    cursor: pointer;
}


