<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ROSA contrôleur</title>
    <link rel="stylesheet" href="./interface.css">
    <link rel="stylesheet" href="../../static/css/tailwind.css">
    <!-- Chargez Blockly et le générateur Python -->
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script src="https://unpkg.com/blockly/python_compressed.js"></script>
    <!-- Chargez langue Blockly -->
    <script src="https://unpkg.com/blockly/msg/fr.js" id="blockly-msg-fr" defer></script>
    <!-- Chargez les définitions des blocs personnalisés et les générateurs -->
    <script src="./lib_interface/blocks.js"></script>
    <script src="./lib_interface/python_generators.js"></script>
</head>

<body>
    <div class="header_controle">
        <p class="txt-title">Contrôleur ROSA</p>
    </div>
    <div class="mode_line">
        <button id="progButton"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full active:bg-blue-700"
            onclick="showProg()">
            Programmation
        </button>
        <button id="manualButton"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full active:bg-blue-700"
            onclick="showManual()">
            Pilotage manuel
        </button>
    </div>
    <div class="prog-mode" id="progInt">
        <div class="block-side">
            <div class="langue-selection">
                <label for="languageSelect">Choisissez la langue : </label>
                <select id="languageSelector">
                    <option value="en">English</option>
                    <option value="fr" selected>Français</option>
                </select>
            </div>
            <div class="blockWtitle">
                <div class="blockBox">
                    <h1>Blocs :</h1>
                    <div id="blocklyDiv"></div>
                    <pre id="codeDisplay"></pre>
                    <xml id="toolbox" style="display: none">
                        <category name="ROSA">
                            <block type="move"></block>
                            <block type="turn"></block>
                            <block type="stop_rosa"></block>
                            <block type="sleep"></block>
                            <block type="buzzer"></block>
                        </category>
                        <category name="Logique">
                            <block type="controls_if"></block>
                            <block type="logic_compare"></block>
                            <block type="logic_operation"></block>
                            <block type="logic_negate"></block>
                            <block type="logic_boolean"></block>
                        </category>
                        <category name="Boucles">
                            <block type="controls_repeat_ext">
                                <value name="TIMES">
                                    <block type="math_number">
                                        <field name="NUM">10</field>
                                    </block>
                                </value>
                            </block>
                            <block type="controls_whileUntil"></block>
                            <block type="controls_for">
                                <value name="FROM">
                                    <block type="math_number">
                                        <field name="NUM">1</field>
                                    </block>
                                </value>
                                <value name="TO">
                                    <block type="math_number">
                                        <field name="NUM">10</field>
                                    </block>
                                </value>
                                <value name="BY">
                                    <block type="math_number">
                                        <field name="NUM">1</field>
                                    </block>
                                </value>
                            </block>
                            <block type="controls_forEach"></block>
                        </category>
                        <category name="Mathématiques">
                            <block type="math_number"></block>
                            <block type="math_arithmetic"></block>
                            <block type="math_single"></block>
                            <block type="math_trig"></block>
                            <block type="math_constant"></block>
                            <block type="math_number_property"></block>
                            <block type="math_round"></block>
                            <block type="math_on_list"></block>
                            <block type="math_modulo"></block>
                            <block type="math_constrain"></block>
                            <block type="math_random_int"></block>
                            <block type="math_random_float"></block>
                        </category>
                        <category name="Texte">
                            <block type="text"></block>
                            <block type="text_join"></block>
                            <block type="text_append">
                                <value name="TEXT">
                                    <block type="text"></block>
                                </value>
                            </block>
                            <block type="text_length"></block>
                            <block type="text_isEmpty"></block>
                            <block type="text_indexOf">
                                <value name="VALUE">
                                    <block type="text"></block>
                                </value>
                            </block>
                            <block type="text_charAt">
                                <value name="VALUE">
                                    <block type="text"></block>
                                </value>
                            </block>
                            <block type="text_getSubstring">
                                <value name="STRING">
                                    <block type="text"></block>
                                </value>
                            </block>
                            <block type="text_changeCase"></block>
                            <block type="text_trim"></block>
                            <block type="text_print"></block>
                        </category>
                        <category name="Variables" custom="VARIABLE"></category>
                        <category name="Fonctions" custom="PROCEDURE"></category>
                    </xml>
                </div>
            </div>
        </div>

        <div class="sep">
            <div class="line"></div>
        </div>

        <div class="code-side">
            
            <div class="codeWbtn">
                <div class="generated-code">
                    <h2>Code : </h2>
                    <div class="output" id="codeDiv"></div>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full active:bg-blue-700"
                onclick="runCode()">Exécuter
                </button>
            </div>
           

            <div class="output-code">
                <h2>Sortie : </h2>
                <pre class="output" id="output"></pre>
            </div>

        </div>
    </div>
    </div>
    <div class="manuel-mode" id="manualInt">
        <div class="bot-front">
            <div class="bot-shema">
                <img src="../../static/images/rosa_front.svg" alt="">
            </div>
            <p class="value-front">
                <span>200</span>
                <span>200</span>
                <span>200</span>
                <span>200</span>
                <span>200</span>

            </p>
        </div>
        <div class="bot-lat">
            <p class="value-lat2">
                <span>200</span>
                <span>200</span>
            </p>
            <div>
                <p class="value-lat1">
                    <span>200</span>
                    <span>200</span>
                </p>
                <div class="bot-shema">
                    <img src="../../static/images/rosa_lateral.svg" alt="">
                </div>
            </div>
        </div>
        <div class="move-controleur">
            <div class="speed">
                <div class="speed-box">
                    <p class="txt">Vitesse : <span id="slider-value">50</span></p>
                    <div class="speed-range">
                        <input min="0" max="100" value="20" id="speedSlider" type="range" orient="vertical">
                    </div>
                </div>
            </div>
            <div class="direction">
                <div class="direction-box">
                    <p class="txt">Mouvements :</p>
                    <div class="arrow-grid">
                        <button class="btn-av" onmousedown="sendDataGet('manuel', { 'dir': 'forward '})"
                            onmouseup="sendDataGet('manuel', { 'dir': 'stop' })">
                        </button>
                        <button class="btn-g" onmousedown="sendDataGet('manuel', { 'dir': 'g' })"
                            onmouseup="sendDataGet('manuel', { 'dir': 'stop' })">
                        </button>
                        <button class="btn-ar" onmousedown="sendDataGEt('manuel', { 'dir': 'ar' })"
                            onmouseup="sendDataGet('manuel', { 'dir': 'stop' })">
                        </button>
                        <button class="btn-d" onmousedown="sendDataGet('manuel', { 'dir': 'd' })"
                            onmouseup="sendDataGet('manuel', { 'dir': 'stop' })">
                        </button>
                        <button class="btn-stop" onmousedown="sendDataGet('manuel', { 'dir': 'stop' })">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    const progInt = document.getElementById('progInt');
    const manualInt = document.getElementById('manualInt');
    const progButton = document.getElementById('progButton');
    const manualButton = document.getElementById('manualButton');

    const slider = document.getElementById('speedSlider');
    const sliderValue = document.getElementById('slider-value');

    sliderValue.textContent = slider.value;
    slider.addEventListener('input', function () {
        sliderValue.textContent = slider.value;
    });

    var workspace = Blockly.inject('blocklyDiv', {
        toolbox: document.getElementById('toolbox')
    });

    workspace.addChangeListener(function (event) {
        var code = Blockly.Python.workspaceToCode(workspace);
        document.getElementById('codeDiv').innerText = code;
    });


    function showProg() {
        progInt.style.display = 'flex';
        manualInt.style.display = 'none';
    }

    function showManual() {
        progInt.style.display = 'none';
        manualInt.style.display = 'flex';
    }

    function runCode() {
        var code = Blockly.Python.workspaceToCode(workspace);
        sendDataPost('execute', { code: code });
    }

    async function sendDataGet(endpoint, data) {
        data.speed = document.getElementById('speedSlider').value / 100;
        let url = new URL(`http://rosa.local:8080/${endpoint}`);
        Object.keys(data).forEach(key => url.searchParams.append(key, data[key]));

        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
        });

        if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
        }

        return await response.json();

    }

    async function sendDataPost(endpoint, data) {
        try {
            const response = await fetch(`http://rosa.local:8080/${endpoint}`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }

            const result = await response.json();
            document.getElementById('output').textContent = 'stdout:\n' + result.stdout + '\nstderr:\n' + result.stderr;
            return result;
        } catch (error) {
            document.getElementById('output').textContent = 'Error: ' + error;
            throw error;
        }
    }
</script>

</html>