<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/interface.css">
    <link rel="stylesheet" href="../../static/css/tailwind.css">
    <title>Document</title>
</head>

<body>
    <div>
        <h1 class="text-2xl font-bold mb-4 text-center">Interface</h1>

        <div class="mode_line">
            <button id="progButton"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full active:bg-blue-700"
               >
                Programmation
            </button>
            <button id="manualButton"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full active:bg-blue-700"
                >
                Pilotage manuel
            </button>
        </div>

        <div class="manuel-mode" id="manualInt">
            <div class="bot-front">
                <div class="bot-shema">
                    <img src="../../static/images/rosa_front.svg" alt="Image du Rosa de face">
                </div>
                <p class="value-front">
                    <span id="sensorAv1">2000</span>
                    <span id="sensorAv2">2000</span>
                    <span id="sensorAv3">2000</span>
                    <span id="sensorAv4">2000</span>
                    <span id="sensorAv5">2000</span>
                </p>
            </div>
            <div class="ground">
                <p id="sensorG1">g1</p>
                <p id="sensorG2">g2</p>
            </div>
            <div class="bot-lat">
                <div>
                    <p class="value-lat1">
                        <span id="sensorAr1">2000</span>
                        <span id="sensorAr2">2000</span>
                    </p>
                    <div class="bot-shema">
                        <img src="../../static/images/rosa_lateral.svg" alt="Image du Rosa de côté">
                    </div>
                </div>
            </div>
            <div class="move-controleur">
                <div class="speed">
                    <div class="speed-box">
                        <p class="txt">Vitesse : <span id="slider-value">50</span></p>
                        <div class="speed-range">
                            <input min="0" max="100" value="20" id="speedSlider" type="range" orient="vertical">
                        </div>
                    </div>
                </div>
                <div class="direction">
                    <div class="direction-box">
                        <p class="txt">Mouvements :</p>
                        <div class="joystick_zone">
                            <div class="joystick">
                                <div class="zone_j av" id="av"></div>
                                <div class="zone_j avg" id="avg"></div>
                                <div class="zone_j g" id="g"></div>
                                <div class="zone_j arg" id="arg"></div>
                                <div class="zone_j ar" id="ar"></div>
                                <div class="zone_j ard" id="ard"></div>
                                <div class="zone_j d" id="d"></div>
                                <div class="zone_j avd" id="avd"></div>
                                <div class="zone_j center" id="center"></div>
                                <div class="cursor" id="cursorDiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
