main {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50%;
    place-items: center;
    gap: 1em;
    margin-top: 2%;
}

main div {
    display: flex;
    place-content: center;
    border: 3px solid #4faeec;
    font-size: 30px;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 70%;
    place-items: center;
    text-align: center;
    margin: 15%;
}