:root {
    --head : #E2E8F0;
    --txt : #00000;
    --txt-mode : #e6e6e6;
    --main-blue : #0D88EC;
    --main-grey :  #c9c9c9;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: none;
}

.txt {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: large;
}

.txt-title {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: xx-large;
}

.txt-bold {
    color: var(--txt);
    font-family: "Inter", sans-serif;
    font-size: large;
    font-weight: bold;
}


.button-mode select {
    cursor: pointer;
}

.button-go {
    width: 35%;
    cursor: pointer;
}

.header_controle {
    background: var(--head);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode_line {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.prog-mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 20vh);
}

.langue-selection {
    width: 100%;
    display: flex;
    align-items: center;
    height: 10%;
    margin-left: 10%;
}


.block-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: calc(100vh - 20vh);
}

.blockWtitle {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.code-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 20vh);
    width: 50%;
}

.blockBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sep {
    height: 100%;
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 80%;
    width: 20%;
    border-radius: 5px;
    background-color: black;
    margin-top: 5vh;
}

#blocklyDiv {
    height: 480px;
    width: 600px;
}


.output{
    height: 25vh;
    width: 30vw;
    border: 2px solid #000000;
    overflow: auto;
    white-space: pre-wrap;
}

.codeWbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.generated-code{
    background-color: none;
}

.output-code {
    background-color: none;
}


.manuel-mode {
    display: none;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 20vh);
}

.bot-front {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.value-front {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.bot-lat {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.value-lat1 {
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 2vw;
    margin-left: 4vw;
}

.value-lat2 {
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 2vw;
    margin-left: 4vw;
}

.bot-shema {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-shema img {
    aspect-ratio: 1/1;
    width: 70%;
}

.move-controleur {
    width: 50%;
    height: 100%;
}

.speed {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speed-box {
    display: flex;
    flex-direction: column;
}

.speed-range {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5%;
    gap: 15px;
}

.direction {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.direction-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    aspect-ratio: 1/1;

}

.arrow-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    aspect-ratio: 1/1;
}

.btn-av { 
    grid-area: 1 / 2 / 2 / 3;
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
    background-color: var(--main-grey);

}

.btn-g { 
    grid-area: 2 / 1 / 3 / 2; 
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    background-color: var(--main-grey);

}

.btn-ar { 
    grid-area: 3 / 2 / 4 / 3; 
    aspect-ratio: 1/1;
    cursor: pointer;   
    border: none;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: var(--main-grey);

}

.btn-d { 
    grid-area: 2 / 3 / 3 / 4; 
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: var(--main-grey);

}

.btn-stop {
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: var(--main-blue);
    cursor: pointer;
}


